version: 2.1
jobs:
  deploy:
    docker:
      - image: node:12.18.0
    steps:
      - checkout
      - run:
        name: Install and build
        command: yarn && yarn build

      - save_cache:
        key: npm-modules
        paths:
          - node_modules/
        
      - run:
        name: Add gh-pages cli
        command: |
          yarn global add gh-pages
          git config user.email "bramaudi.al@gmail.com"
          git config user.name "bramaudi"

      - add_ssh_keys:
        fingerprints:
          - "82:bd:61:dd:9d:59:64:50:35:d5:9c:64:8f:1a:4a:1a"
            
      - run:
        name: Deploy dist to gh-pages branch
        command: gh-pages --dist dist
workflows:
    build:
      jobs:
        - deploy
