version: 2.1
jobs:
  deploy:
    docker:
      - image: node:12.18.0
    steps:
      - checkout
      - run:
          name: Install and build
          command: yarn && yarn build
        
      - run:
          name: Add gh-pages cli
          command: |
            yarn global add gh-pages
            git config user.email "bramaudi.al@gmail.com"
            git config user.name "bramaudi"
            
      - run:
          name: Deploy dist to gh-pages branch
          command: gh-pages --dist dist
workflows:
    build:
      jobs:
        - deploy
